.git

# Coverage reports
.cover/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Gogland IDE settings
.idea/

# VS Code settings
.vscode/

# debug output
server/debug

# Compilation artifacts
dist/
out/